<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>RPG Game</title>
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/todomvc-common/base.css') }}"> -->
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> -->

        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/backbone/backbone.js"></script>
        <script src="bower_components/backbone/backbone.localStorage.js"></script>
        <script src="bower_components/easeljs/tween.js"></script>
        <script src="bower_components/twojs/two.js"></script>
        <script src="bower_components/quo.js"></script>
        <script src="js/game_ui.js"></script>
        <script src="js/game_visuals.js"></script>
        <script src="js/game.js"></script>

        <style>
            #game{position: absolute; z-index: 10;}
            .game-question{
                position: absolute;
                z-index: 10;
                display:block;
                width: 400px;
                height: 300px;
                background:rgb(0,0,0);
                margin: 100px 0 0 100px;
                opacity: 0.8;
                color: white;
                text-align: center;}
        </style>
    </head>
    <body>
        <div id="game">
            Loading Game...
        </div>
        <script>
            $(document).ready(function(){
                window.game_view = new GameView({el: $('#game')});
            });
        </script>
    </body>
</html>
